@import "../core/variables.scss";
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    justify-items: center;
    align-items: flex-start;
  }
}
