@import "../core/variables.scss";

.card {
  color: $bg-header;
  text-align: center;
  padding: 30px 0;
  text-decoration: none;
  &__title {
    font-size: 20px;
  }
  &__img {
    border: 6px solid $bg-header;
    border-radius: 100px;
    height: 200px;
    :hover {
      filter: grayscale(80%);
    }
  }

  &__calaver {
    width: 30px;
  }
}
