@import "../core/variables.scss";
.form {
  padding: 40px 0;
  color: $white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  &__label {
    padding-top: 20px;
  }
  @media (min-width: 900px) {
    flex-direction: row;
    &__label {
      padding-top: 0px;
    }
  }

  &__input,
  &__input-select {
    width: min-content;
    height: 30px;
    border: solid 1px $borders;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px $borders, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}
