@import "../core/variables.scss";
.form {
  color: $white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
