@import "../core/variables.scss";
.form {
  padding-top: 40px;
  color: $white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__label {
    padding-top: 20px;
  }
  @media (min-width: 900px) {
    flex-direction: row;
    &__label {
      padding-top: 0px;
    }
  }

  &__input {
    width: min-content;
    height: 30px;
    border: solid 1px $borders;
    border-radius: 5px;
  }

  &__input-select {
    width: min-content;
    height: 30px;
    color: $primary-color;
    border: solid 1px $borders;
    border-radius: 5px;
  }
}
