@import "../core/variables.scss";
.footer {
  background-color: $bg-footer;
  height: 60px;
  color: $white;
  text-align: center;
  padding: 10px 0;
  font: {
    family: $font-main;
    size: 16px;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}
