@import "../core/variables.scss";
.header {
  background-color: $bg-header;
  // background-image: url(../../images/bg-image.jpg) no-repeat center;
  // background-size: cover;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 200px;

    @media (min-width: 768px) {
      width: 500px;
    }
  }
}
